h1 {
	background-color: #2980e9;
	color: white;
	font-size: 24px;
	font-weight: 400;
	line-height: inherit;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
}
body {
	background: #7f7fd5; 
	background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5); 
	background: linear-gradient(
		to right,
		#91eae4,
		#86a8e7,
		#7f7fd5
	); 

	font-family: "Raleway";
}
#btn {
	background-color: #e74c3c;
	color: white;
	height: 40px;
	width: 0;
	padding: 0 5px;
	text-align: center;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0.0;
}
li:hover #btn {
	width: 30px;
	opacity: 1.0;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	background-color: white;
	height: 40px;
	line-height: 40px;
	color: #666666;
}
li:nth-of-type(2) {
	background-color: #f7f7f7;
}
input {
	font-size: 18px;
	color: #2980e9;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0);
}
input:focus {
	background-color: white;
	border: 3px solid #2980e9;
	outline: none;
}
.fa-edit {
	float: right;
}
#container {
	/* border: 2px solid black; */
	width: 360px;
	margin: 100px auto;
	background-color: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.completed {
	color: gray;
	text-decoration: line-through;
}
